.items1{
    font-size: 22px;
    margin: 5px;
    background: silver;
}

.items2{
    font-size: 22px;
    margin: 5px;
    background: chocolate;
}

.items3{
    font-size: 22px;
    margin: 5px;
    background: cornflowerblue;
}

.items4{
    font-size: 22px;
    margin: 5px;
    background: gold;
}

.product-card{
    margin: 10px;
    font-size: 22px;

}

.product-image{
    width: 320px;
    height: 320px;
}

.product-title{
    color: slategray;
}

