body{
    background: rgb(0,212,255);
    background: linear-gradient(90deg, rgba(0,212,255,1) 0%, rgba(221,13,188,1) 54%, rgba(2,0,36,1) 100%);
    display: flex;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}



.container{
    display: flex;
    width: 98%;
    height: 90%;
    border-radius: 15px;
    box-shadow:
            inset 0 -3em 3em rgba(0,0,0,0.1),
            0 0  0 2px rgb(255,255,255),
            0.3em 0.3em 1em rgba(0,0,0,0.3);
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    gap: 10px;
    background-image: url('../img..png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin-bottom: 12px;
}

.userblock{
    min-width: 45%;
    height: 105px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    border-radius: 10px;
    background: whitesmoke;
    opacity: 0.5;
    padding: 15px;
    margin: 15px;
    font-family: Arial;
    transition: 0.3s;
    font-size: 20px;
    color: black;
    box-shadow:
            inset 0 -3em 3em rgba(0,0,0,0.1),
            0 0  0 2px rgb(255,255,255),
            0.3em 0.3em 1em rgba(0,0,0,0.3);
}

.userblock:hover{
    min-width: 50%;
    height: 125px;
    transition: 0.3s
}

.user_button{
    min-width: 10%;
    background: dodgerblue;
    border-radius: 12px;
    height: 40px;
    transition: 0.3s;
    color: white;
    margin-top: 20px;
    font-family: SansSerif;
    font-size: 20px;
    border: 0px;
    padding: 8px;
}

.user_button:hover{
    min-width: 15%;
    height: 50px;
    transition: 0.3s;
    font-size: 23px;


}

.futter{
    min-width: 98%;
    box-sizing: border-box;
    height: 7%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    border-radius: 15px;
    background: #0d1117;
    opacity: 0.7;
    padding: 10px;
    box-shadow:
            inset 0 -3em 3em rgba(0,0,0,0.1),
            0 0  0 2px rgb(255,255,255),
            0.3em 0.3em 1em rgba(0,0,0,0.3);
}

.fa-github{
    font-size: 45px;
    color: whitesmoke;
    transition: 0.2s
}
.fa-github:hover{
    color: darkgray;
    transition: 0.2s;
}

.fa-telegram{
    font-size: 45px;
    color: whitesmoke;
    transition: 0.2s
}
.fa-telegram:hover{
    color: darkgray;
    transition: 0.2s;
}

.fa-instagram{
    font-size: 45px;
    color: whitesmoke;
    transition: 0.2s
}

.fa-instagram:hover{
    color: darkgray;
    transition: 0.2s;
}

i{
    width: 45px;
    height: 45px;
}

.fa-twitter{
    font-size: 45px;
    color: whitesmoke;
    transition: 0.2s
}

.fa-twitter:hover{
    color: darkgray;
    transition: 0.2s
}

.signy{
    font-size: 20px;
    color: #6d7580;
    position: relative;
    left: 1400px;
}