body{
    background: rgb(0,212,255);
    display: flex;
    background: linear-gradient(90deg, rgba(0,212,255,1) 0%, rgba(221,13,188,1) 54%, rgba(2,0,36,1) 100%);
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    column-gap: 10px;
    row-gap: 10px;
}

.detailcontainer{
    height: 95vh;
    width: 98%;
    border: 0px;
    border-radius: 15px;
    display: flex;
    gap: 10px;
    padding: 15px;
    flex-direction: column;
    column-gap: 10px;
    row-gap: 10px;
    background-image: url('../img..png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    box-shadow:
            inset 0 -3em 3em rgba(0,0,0,0.1),
            0 0  0 2px rgb(255,255,255),
            0.3em 0.3em 1em rgba(0,0,0,0.3);
}

.infodiv{
    box-sizing: border-box;
    border-radius: 10px;
    margin-top: 7px;
    margin-bottom: 7px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background: whitesmoke;
    opacity: 0.5;
    font-family: Arial;
    font-size: 20px;
    color: black;
    border: 1px solid black;
    padding: 5px;
}

.buttondiv{
    display: flex;
    justify-content: center;
}

.commentbtn{
    background: dodgerblue;
    border-radius: 12px;
    height: 50px;
    transition: 0.3s;
    color: white;
    margin-top: 20px;
    font-family: SansSerif;
    font-size: 25px;
    border: 0px;
    padding: 8px;
    min-width: 90%;
    margin-bottom: 20px;
}

.commentbtn:hover{
    transition: 0.3s;
    min-width: 94%;
    height: 65px;
}

.commentdiv{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: flex-start;
    min-height: 200px;
    column-gap: 10px;
    gap: 25px;
    width: 98%;
    transition: 0.3s;
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
    background-image: url('../img..png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    border: 0px;
    border-radius: 15px;
    box-shadow:
            inset 0 -3em 3em rgba(0,0,0,0.1),
            0 0  0 2px rgb(255,255,255),
            0.3em 0.3em 1em rgba(0,0,0,0.3);
}

.commentdesc{
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 130px;
    width: 19%;
    padding-left: 10px;
    padding-right: 10px;
    background: whitesmoke;
    opacity: 0.5;
    font-family: Arial;
    color: black;
}