body{
    background: rgb(0,212,255);
    display: flex;
    background: linear-gradient(90deg, rgba(0,212,255,1) 0%, rgba(221,13,188,1) 54%, rgba(2,0,36,1) 100%);
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    column-gap: 10px;
    row-gap: 10px;
}

.details_container{
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    gap: 10px;
    width: 98%;
    height: 90%;
    flex-direction: column;
    column-gap: 5px;
    row-gap: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background-image: url('../back.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    border: 0px;
    border-radius: 15px;
    box-shadow:
            inset 0 -3em 3em rgba(0,0,0,0.1),
            0 0  0 2px rgb(255,255,255),
            0.3em 0.3em 1em rgba(0,0,0,0.3);
}

.user_info{
    box-sizing: border-box;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background: whitesmoke;
    opacity: 0.5;
    font-family: Arial;
    font-size: 18px;
    color: black;
    border: 1px solid black;
    padding: 5px;
}

.postbtndiv{
    display: flex;
    justify-content: center;
}

.post-btn{
    background: dodgerblue;
    border-radius: 12px;
    height: 40px;
    transition: 0.3s;
    color: white;
    margin-top: 15px;
    font-family: SansSerif;
    font-size: 20px;
    border: 0px;
    padding: 5px;
    min-width: 90%;
    margin-bottom: 15px;
}

.post-btn:hover{
    transition: 0.3s;
    min-width: 92%;
    height: 55px;
}

.title{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    align-content: flex-start;
    height: 25%;
    column-gap: 5px;
    gap: 15px;
    width: 100%;
    transition: 0.3s;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background-image: url('../back.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    border: 0px;
    border-radius: 15px;
    box-shadow:
            inset 0 -3em 3em rgba(0,0,0,0.1),
            0 0  0 2px rgb(255,255,255),
            0.3em 0.3em 1em rgba(0,0,0,0.3);
}

.desc{
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 89px;
    width: 19%;
    padding: 10px;
    background: whitesmoke;
    opacity: 0.5;
    font-family: Arial;
    color: black;
}

.detailbtn{
    height: 40px;
    background: dodgerblue;
    border-radius: 12px;
    color: white;
    font-family: SansSerif;
    font-size: 15px;
    border: 0px;
    box-sizing: border-box;
    min-width: 94px;
    margin-left: 5px;
    transition: 0.3s;
}

.detailbtn:hover{
    transition: 0.3s;
    height: 45px;
    min-width: 100px;
}

.futter{
    min-width: 98%;
    box-sizing: border-box;
    height: 7%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    border-radius: 15px;
    background: #0d1117;
    opacity: 0.7;
    padding: 10px;
    box-shadow:
            inset 0 -3em 3em rgba(0,0,0,0.1),
            0 0  0 2px rgb(255,255,255),
            0.3em 0.3em 1em rgba(0,0,0,0.3);
}
.fa-github{
    font-size: 45px;
    color: whitesmoke;
    transition: 0.2s
}
.fa-github:hover{
    color: darkgray;
    transition: 0.2s;
}

.fa-telegram{
    font-size: 45px;
    color: whitesmoke;
    transition: 0.2s
}
.fa-telegram:hover{
    color: darkgray;
    transition: 0.2s;
}

.fa-instagram{
    font-size: 45px;
    color: whitesmoke;
    transition: 0.2s
}

.fa-instagram:hover{
    color: darkgray;
    transition: 0.2s;
}

i{
    width: 45px;
    height: 45px;
}

.fa-twitter{
    font-size: 45px;
    color: whitesmoke;
    transition: 0.2s
}

.fa-twitter:hover{
    color: darkgray;
    transition: 0.2s
}

.signy{
    font-size: 20px;
    color: #6d7580;
    position: relative;
    left: 1400px;
}
