.course{
    width: 90%;
    border: 3px solid red;
    padding: 10px;
    margin: 10px;
}
.title{
    border: 3px solid blue;
}
.duration{
    display: flex;
    justify-content: space-between;
    margin: 10px 0 10px 0;
    width: 100%;
}
.month{
    width: 30%;
    border: 3px solid blue;
    display: flex;
    align-items: flex-start;
    padding-left: 10px;
}
.hour{
    width: 65%;
    border: 3px solid blue;
    display: flex;
    align-items: flex-start;
    padding-left: 10px;
}
.modul{
    width: 100%;
    border: 3px solid blue;
    margin-bottom: 10px;

}
li{
    border: 3px solid blue;
    margin: 10px;
}

.heading{
    font-size: 22px;
    color: chocolate;
    border: 2px solid black;
}

.description{
    font-size: 18px;
    color: cornflowerblue;
    display: flex;
    padding-left: 10px;
    border: 2px solid slategrey;
}

.item{
    border: 3px solid red;
    margin: 10px;
    padding: 10px;
}